{:kotoba.app/id "cloud.itonami.isic-8569", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidg6qx2d4ssxcpfsdxsrofyzaq6fna2hbq6wxrpjczie4nqdnm6ze", :kotoba.app/embed-url "ipfs://bafkreidg6qx2d4ssxcpfsdxsrofyzaq6fna2hbq6wxrpjczie4nqdnm6ze", :published {:archive "https://kotobase.net/ipfs/bafkreidg6qx2d4ssxcpfsdxsrofyzaq6fna2hbq6wxrpjczie4nqdnm6ze", :size 75241, :put-status 201, :get-status 200, :at "2026-08-15T13:49:17.330Z"}}
